body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    
}
.header{
    position: fixed;
    background-color:#315A31
        ;
    color: white;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.nav-link{
    color: white;
    text-decoration: none;
}
aside{
    background-color: rgb(202,100,197);
    position: fixed;
    top: 100px ;
    left: 0;
    bottom: 20px;
    width: 20%;

}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 100px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
}
.nav-men-link:hover{
    background-color: blue;
    transition: 0.5s;
    
}
.nav-men-link{
    padding: 8px 12px;
    border-radius: 8px;
    
    
}
section {
    position: fixed;
    overflow-y: scroll;
    background-color: 	  white;
    color: black;
    top: 100px;
    left: 20%;
    bottom: 20px;
    width: 80%;
    padding: 10px;
}

footer{
    position: fixed;
    text-align: center;
    background-color: black;
   color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
}